.App {
  text-align: center;
  font-family: 'Joan', serif;
}
html {
  cursor: pointer;
  background-color: #101019;
}

.App-main header {
  position: fixed;
  display: flex;
  justify-content: center;
  max-width: 100%;
  gap: 70px;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 30px;
  top:0;
  width: 100%;
  color: #ffffff5e;
  z-index: 1000;
}
section {
    z-index: 10;
    height: 50vh;
    position: relative;
    bottom: 0;
    margin: auto;
    padding-top: 42vh;
    overflow-x: scroll;
    display: flex;
    min-width: 400vw;
}
section div {
  /* display: none; */
  width: 100vw;
  height: 50vh;
}
.slide1, .slide2, .slide3, .slide4 {
  scroll-behavior: smooth;
  transition: all ease 400ms;
}
.rubik_container {
  position: fixed;
  top: 0px;
  left:0;
  height: 70vh;
  width: 100vw;
  z-index: 0;
}
.App-title {
  font-weight: 100;
  z-index: 1;
}
header {
  z-index: 100000;
}
header div {
  transition: all ease 500ms;
  padding: 10px;
}
.hovered {
  color: #b7c7f6;
}
.App-sub {
  font-size: 30px;
  font-weight:lighter;
  font-style: oblique;
  padding-bottom: 20px;
}
.App-cta {
  font-size: 30px;
  padding: 8px 40px;
  box-shadow: 0 0 10px 1px honeydew;
  border-radius: 13px;
  margin-top: 50px;
}
.App-main {
  background-color: #101019;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(20px + 2vmin);
  color: rgba(224, 226, 234, 0.833);
}
.App-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid white;
}
header div:hover {
  color: #b7c7f6;
  cursor: pointer;
}
footer {
  position: fixed;
  bottom:0;
  font-size: 20px;
  padding: 14px;
  width: 100%;
  background-color: #9d9d9c;
  color: #09150e;
}
.App-link {
  color: #61dafb;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {transform: 'translateX(0vw)'}
  to {transform: 'translateX(-100vw)'}
}
