.App {
  text-align: center;
  font-family: 'Joan', serif;
}

html {
  cursor: pointer;
  /* background-color: #101019; */
  /* background-color: #505092; */
}

.App-main header {
  position: fixed;
  display: flex;
  justify-content: center;
  max-width: 100%;
  gap: 70px;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 30px;
  top:0;
  width: 100%;
  color: #ffffff5e;
  z-index: 1000;
  letter-spacing: 3px;
}
div.section {
    /* z-index: 10; */
    height: 70vh;
    /* position: relative; */
    bottom: 0;
    margin: auto;
    overflow-x: hidden;
    display: flex;
    /* width: 400vw; */
    scroll-behavior: smooth;
}

.slide1, .slide2, .slide3, .slide4, .slide5 {
  scroll-behavior: smooth;
  transition: all ease 400ms;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  width: 100vw;
}
.slide1 {
  position: relative;
  align-items: center;
  justify-content: flex-end;
  z-index: 0;
  letter-spacing: 5px;
}
.slide2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}
.slide3 p {
  padding: 22px;
  letter-spacing: 6px;
  width: 100%;
  text-align: center;
  
}
.slide3 div {
  padding: 0 150px;
  height: 400vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main_goals {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  gap: 95px;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
  
}
.main_goals div:hover {
  color: #b7c7f6;
  text-decoration: underline;
}
.details_container {
  transform: translateX(-200px);
  transition: all ease 1000ms;
  width: 400px;
  font-size: smaller;
  height: 481px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px #b7c7f6;
  background-color: #11ffd9de;
  color: #505092;

  
}
.details_container p {
  padding: 20px;
}
.wrapper {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  overflow: visible;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  transition: all ease 1000ms;
}



.rubik_container {
  background-color: transparent;
  position: fixed;
  top: 30px;
  left:0;
  height: 80vh;
  width: 100vw;
  z-index: 0;
  opacity: 1;
  transition: all ease-in-out 1000ms;
}
.robot_container {
  background-color: transparent;
  position: fixed;
  left:0;
  height: 80vh;
  width: 100vw;
  z-index: 100;
  opacity: 1;
  transition: all ease-in-out 1000ms;
}
.hire {
  padding: 10px 30px;
  z-index: 10000;
  border: transparent;
  box-shadow: 0 0 10px 1px whitesmoke;
  position: fixed;
  bottom: 80px;
  right: 40px;
  transition: all ease 800ms;
}
.hire:hover {
  box-shadow: 0 0 10px 1px rgb(204, 152, 152);
}
.App-title {
  font-weight: 100;
  z-index: 1;
  text-align: start;
  width: 100vw;
  margin: 0;
  color: white;
  position: absolute;
  bottom: 100px;
  left: 140px;
}
.App-subtitle {
  width: 100vw;
  font-size: 24px;
  z-index: 1;
  position: absolute;
  left: 235px;
  margin-top: 5px;
  
  font-style: italic;
  text-align: start;
}
header {
  z-index: 100000;
}
header div {
  transition: all ease 500ms;
  padding: 10px;
}
.hovered {
  color: #b7c7f6;
}
.App-sub {
  font-size: 30px;
  font-weight:lighter;
  font-style: oblique;
  padding-bottom: 20px;
}
.App-cta {
  font-size: 30px;
  padding: 8px 40px;
  box-shadow: 0 0 10px 1px honeydew;
  border-radius: 13px;
  margin-top: 50px;
}
.App-main {
  /* background-color: #101019; */
  /* background-color: #505092; */
  /* background-color: #7f7fd1; */
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(20px + 2vmin);
  color: rgba(224, 226, 234, 0.833);
}
.App-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid white;
}
header div:hover {
  color: #b7c7f6;
  cursor: pointer;
}
footer {
  position: fixed;
  bottom:0;
  font-size: 20px;
  padding: 14px;
  width: 100%;
  background-color: white;
  color: #09150e;
}
.App-link {
  color: #61dafb;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.fadeIn {
  opacity: 1;
}
.fadeOut {
  opacity: 0;
}

@keyframes fade {
  from {transform: 'translateX(0vw)'}
  to {transform: 'translateX(-100vw)'}
}
body {
  background: linear-gradient(178deg, hsl(237deg 45% 9%), #4e497d);
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}